ShapeDrawingTool/ParameterForm/Connected Services/ServiceReference3/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Circle">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="r" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="g" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CircleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CircleResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="abc">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="inputText" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="abcResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="abcResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CircleSoapIn">
    <wsdl:part name="parameters" element="tns:Circle" />
  </wsdl:message>
  <wsdl:message name="CircleSoapOut">
    <wsdl:part name="parameters" element="tns:CircleResponse" />
  </wsdl:message>
  <wsdl:message name="abcSoapIn">
    <wsdl:part name="parameters" element="tns:abc" />
  </wsdl:message>
  <wsdl:message name="abcSoapOut">
    <wsdl:part name="parameters" element="tns:abcResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="Circle">
      <wsdl:input message="tns:CircleSoapIn" />
      <wsdl:output message="tns:CircleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="abc">
      <wsdl:input message="tns:abcSoapIn" />
      <wsdl:output message="tns:abcSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Circle">
      <soap:operation soapAction="http://tempuri.org/Circle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="abc">
      <soap:operation soapAction="http://tempuri.org/abc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Circle">
      <soap12:operation soapAction="http://tempuri.org/Circle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="abc">
      <soap12:operation soapAction="http://tempuri.org/abc" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="https://localhost:44348/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="https://localhost:44348/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>